/*@charset "UTF-8"; /*PARA PONERLO EN ESPAÑOL*/

h1
{
	text-align: center;
	font-size: 100px;
}
h2
{
	text-align: center;
	font-size: 75px;
	color: white;
}
h3
{
	font-size: 30px;
}
p
{
	color: #000000;
	font-size: 20px;
}
body
{
	background-color: #DDDDDD;
	background-image: url("fond.jpg");
	margin: 0;
	font-size: 16px;
}
form
{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

/*.wrapper
{
	background-color: #FFFFFF;
	width: 960px;
	margin: 0 auto;
	padding: 40px;
}*/

.header
{
	background-color: #0000CF;
	margin-bottom: 30px;
	padding: 20px 0;
	width: 100%;
}

.content
{
	width: 100%;
}

.venta {
	overflow: auto; /*make a block or push other content outside the div...*/
	margin: 0;
	background-image: url(marco.png);
}

ul
{
	padding: 0; /*NO PADDING*/
}

ul li /*para la lista(li) dentro de la lista desordenada(ul)*/
{
	display: inline; /*para ponerlos horizontalmente*/
}

ul li a /**/
{
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px 20px;
}

ul li a:hover{
	background-color: #FFA005;
	color: #000000;
}

.imgright{
	float:right;
	margin: 20px;
}

.imgleft{
	float:left;
	margin: 20px;
}

.header img /*PARA IMAGENES*/ 
{
	display: block;
	margin: 0 auto; /*para centrar horizontalmente...SIEMPRE*/
}

.header ul /*PARA TEXTO*/
{
	text-align: center;
}

.tema img /*PARA IMAGENES*/ 
{
	float:center;
	display: block;
	margin: 0 auto; /*para centrar horizontalmente...SIEMPRE*/
}
