h2
{
	text-align: center;
	font-size: 75px;
	color: white;
}
body
{
	background-image: url("fond2.jpg");
	margin: 0;
	font-size: 16px;
}
form
{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}