<h1>Actualizar estado de Zombie</h1>
	<form name="ActualizarZombie" action="actualizar.php" method="POST">
		Estado Actual:<br>
		<input type="text" name="Estado"><br>
		<input type="submit" value="Actualizar Zombie">
	</form>