	<h1>Agregar Nuevo Zombie</h1>
	<form name="agregarPerro" action="guardar.php" method="POST">
		Nombre:<br>
		<input type="text" name="nombre"><br>
		Apellido Paterno:<br>
		<input type="text" name="apellidoP"><br>
		Apellido Materno:<br>
		<input type="text" name="apellidoM"><br>
		Estado Actual:<br>
		<input type="text" name="Estado"><br>
		<input type="submit" value="Agregar nuevo Zombie">
	</form>
</body>