	<h1>Tablas de Zombies</h1>

	<table style="width:100%">
		<tr>
			<th>Nombre</th>
			<th>Apellido Paterno</th> 
			<th>Apellido Materno</th>
			<th>Estado</th>
			<th>Fecha de Registro</th>
			<th>Fecha de Transicion</th>
		</tr>
		<tbody>
			<?php imprimirZombie(); ?>
		</tbody>
	</table>
	<?php consultarDatos(); ?>
	<a href="agregarZombie.php"><button type="button">Agregar nuevo Zombie</button></a>
	<form method="POST" action="zombieBuscado.php">
		Buscar Zombies por estado:<input type="text" name="estado">
		<input type="submit" value="Buscar">
	</form>


</body>