<h1>Todos los perros</h1>
<?php imprimirPerros() ?>
<a class="waves-effect waves-light btn-large" href="agregar.html">Agregar nuevo perro</a></body>
<a class="waves-effect waves-light btn-large" href="formaBorrar.html">Borrar Perro</a></body>
<a class="waves-effect waves-light btn-large" href="editar.html">Editar informacion de Perro</a></body>
<h1>Perros gordos</h1>
<?=getFatDogs(50)?>