h1{
	text-align: center;
	color: #FFFFFF;
	font-size: 100px;
	font-family: "Times New Roman", Times, serif;
}
body {
	background-image: url("fond.jpg");
}

#cuadro{
	width: 376px;
    height: 356px;
	display: flex;
	margin: auto;
}

.preguntas{
	color: #00FFFF;
	font-size: 20px;
}

body:after {
  content: "╚";
  font-size: 15em;
  color: #CCCCCC;
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}